{% extends 'base.html' %}
{% block content %}
    <div class="col-6 m-auto">
        <form action="">
            {% csrf_token %}

            <div class="row mt-5 justify-content-around">
                <select class="col-5 form-control" name="country" id="country" required>
                    <option value="">Selecione o País</option>
                    {% for countries in countryFilter %}
                        <option value="{{countries}}">{{countries}}</option>
                    {% endfor %}
                </select>
                <input class="col-4 form-control" name="title" id="title" type="text">
                <button class="col-2 btn btn-primary">Pesquisar</button>
            </div>

        </form>
    </div>

    <div class="graph col-10 m-auto">
        {% autoescape off %}
            {{grafico}}
        {% endautoescape %}
    </div>

    <div class="result col-10 m-auto">
        {% autoescape off %}
            {{dados}}
        {% endautoescape %}
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
          {% if paginator.has_previous %}
            <li class="page-item"><a class="page-link" href="/page/{{paginator.previous_page_number}}">Anterior</a></li>
          {% endif %}

        <li class="page-item"><a class="page-link" href="#">{{paginator.number}}</a></li>

          {% if paginator.has_next %}
            <li class="page-item"><a class="page-link" href="/page/{{paginator.next_page_number}}">Próxima</a></li>
          {% endif %}
      </ul>
    </nav>
{% endblock %}